.educationsContainer {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  background-color: #436447;
  color: white;
  .container {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 690px;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        text-transform: uppercase;
      }
      pre {
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla */
        word-wrap: break-word;
      }
    }

    .certImagesContainer {
      justify-content: center;
      margin-top: 10px;
      display: grid;
      column-gap: 10px;
      row-gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(100px, 140px));
      grid-template-rows: repeat(auto-fit, minmax(200px, 250px));
    }
  }
  @media (max-width: 600px) {
    padding: 30px;
    max-height: unset;
  }
}
