.heroContainer {
    height:85vh;
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    .heroText {
        align-self: center;
        text-transform: uppercase;
        color: white;
        font-weight: 600;
    }
    .navLinkContainer{
        z-index: 200;
        position:absolute;
        display:flex;
        bottom:100px;
        width: 100%;
        max-width: 850px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;

        @media (min-width: 600px) {
        bottom:110px;
        flex-direction: row;

          }
    }
}