.textColourContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #436447;
  padding: 60px 80px;
  .textWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    .text {
      text-align: center;
      white-space: pre-wrap; /* css-3 */
      white-space: -moz-pre-wrap; /* Mozilla */
      word-wrap: break-word; /* Internet Explorer 5.5+ */
      margin-bottom: 50px;
      h3 {
        margin: 0;
        font-weight: 400;
      }
    }
  }
  @media (max-width: 600px) {
    padding: 20px;
    .textWrapper {
      align-items: flex-start;
      .text {
        margin-top: 0;
        text-align: start;
      }
    }
  }
}
.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #e5e5e5;
  padding: 60px 80px;
  .textWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    .text {
      white-space: pre-wrap; /* css-3 */
      white-space: -moz-pre-wrap; /* Mozilla */
      word-wrap: break-word; /* Internet Explorer 5.5+ */
      margin-bottom: 50px;
      h2 {
        margin: 0;
      }
    }
  }
  @media (max-width: 600px) {
    padding: 20px;
    max-height: unset;

    .textWrapper {
      align-items: flex-start;
      .text {
        text-align: start;
      }
    }
  }
}
